# Ignore sensitive JSON files
credentials.json
config.json
meshnodes.db

Include/
Lib/
Scripts/
pyvenv.cfg
MeshNodes/__pycache__/__init__.cpython-311.pyc
MeshNodes/__pycache__/MeshNodes.cpython-311.pyc
